<div>
  <h1 class="font-bold text-4xl">Name: Leonardo Lujan</h1>
  <h2>Analysis of Algorithms:</h2>
  <h3>Assignments: </h3>
  <ul >
    <li> Greedy Algorithms Homework, Due Date: 3 days </li>
    
  </ul>

  <h2>Software Engineering:</h2>
  <h3>Assignments: </h3>
  <ul>
    <li> Iteration 2: Due Date: 1 day </li>
  </ul>

  <h2>Database Design:</h2>
  <h3>Assignments: </h3>
  <ul>
    <li> Team review 2: Due Date: 1 day </li>
    
  </ul>

  <h2>Software Systems Development:</h2>
  <h3>Assignments: </h3>
  <ul>
    <li> Project 3: Due Date: 1 day </li>
    
  </ul>

  <h2>Computer Architecture:</h2>
  <h3>Assignments: </h3>
  <ul>
    <li> Homework 4: Due Date: 4 days </li>
   
  </ul>


</div>